<!-- <form action="/answer" method="get">
  <input type="text" name="query" placeholder="">
  <input type="submit">
</form> -->

<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="message" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
